table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 3em; /* Tambahkan margin-top normal */
  margin-right: 20em;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #2d3748;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
